[Unit]
Description=Check automatically for FaroOS panel updates

[Timer]
OnBootSec=5min
OnUnitActiveSec=1h
RandomizedDelaySec=10min
Persistent=true
Unit=faroos-server-update.service

[Install]
WantedBy=timers.target
